# Turn rewrite engine on
Options +FollowSymlinks
RewriteEngine on

# map neat URL to internal URL

RewriteRule ^statuses              StatusController.php?view=all&host=$1&port=$2&password=$3 [nc,qsa]
RewriteRule ^status_byname         StatusController.php?view=byname&host=$1&port=$2&password=$3&name=$4 [nc,qsa]
RewriteRule ^converter/api         ConverterController.php [nc,qsa]